<div class="{{ item.gridwidth }}">
<div class="card text-center">
{% if item.type=="tutorial" %}{% assign icon = "fas fa-graduation-cap fa-5x" %}
{% elsif item.type=="assignment" %}{% assign icon = "fas fa-paper-plane fa-5x" %}
{% elsif item.type=="submodule" %}{% assign icon = "fas fa-chalkboard-teacher fa-5x" %}
{% else %}{% assign icon = item.icon %}
{% endif %}
{%- if item.image -%}{%- if item.url -%}<a href="{{site.baseurl}}{{item.url}}">{%- endif -%}<img class="card-img-top" src="{{site.baseurl}}{{ item.image }}" alt="Card image cap">{%- if item.url -%}</a>{%- endif -%}{%- endif -%}
{%- if item.icon -%}<h3 class="card-title">{%- if item.url -%}<a href="{{site.baseurl}}{{item.url}}">{%- endif -%}<i class="{{ icon }}"></i>{%- if item.url -%}</a>{%- endif -%}</h3>{%- endif -%}
{%- if item.title -%}<h3 class="card-title">{{ item.title }}</h3>{%- endif -%}
{%- if item.description -%}
{%- if item.description!="" -%}
<div class="card-body">
<p class="card-text">{{ item.description }}</p>
</div>
{%- endif -%}
{%- endif -%}
</div>
</div>