<div class="{{ item.gridwidth }}">
<div class="card text-center">
{%- if item.title -%}<h3 class="card-header">{{ item.title }}</h3>{%- endif -%}
{%- if item.image -%}{%- if item.url -%}<a href="{{item.url}}">{%- endif -%}<img class="card-img-top" src="{{ item.image }}" alt="Card image cap">{%- if item.url -%}</a>{%- endif -%}{%- endif -%}
{%- if item.icon -%}<h3 class="card-title">{%- if item.url -%}<a href="{{item.url}}">{%- endif -%}<i class="{{item.icon }}"></i>{%- if item.url -%}</a>{%- endif -%}</h3>{%- endif -%}
{%- if item.text -%}
{%- if item.text!="" -%}
<div class="card-body">
<p class="card-text">{{ item.text }}</p>
</div>
{%- endif -%}
{%- endif -%}
</div>
</div>