{{ define "sb"}}
{{ partial "sidebar_notags.html" . }}
{{ end }}

{{ define "main" }}

<!-- featured post -->
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 featured-post-slider">
        <!-- slider item -->
        {{ range ( where .Pages "Type" "featured" )}}
        {{ .Render "post_top" }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

{{ $starred:= ( where .Pages "Type" "starred" )}}
{{ if gt (len $starred) 0 }}
<!-- recent post -->
<section>
  <div class="container">
    <div class="row">
      {{ range $starred}}
      {{ .Render "post_4" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /recent post -->
{{ end }}

<!-- blog post -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate (where (where .Site.RegularPages "Params.type" "<>" "starred") "Params.show_front" "!=" false) }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
        <!-- pagination -->
        <div class="row justify-content-center">
	  {{ partial "paginator.html" . }}
        </div>
      </div>
      <!-- sidebar -->
        {{- block "sb" . }}{{- end }}
      <!-- /sidebar -->
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}
