---
layout: page
---
<article class="post">

  <div class="post-content">
    
    {% assign submodules = site.pages | where: "module", page.module | where: "type","submodule" | sort: "url" %}
        
    {% if submodules.size > 0 %}
    <h2>Modules</h2>
    <div class="row">
    {% for item in submodules %}
    {% include module-card.html %}
    {% endfor %}
    </div>
    {% endif %}
    
    {% assign submodules = site.pages | where: "module", page.module | where: "type","assignment" | sort: "url" %}

    {% if submodules.size > 0 %}
    <h2>Assignments</h2>
    <div class="row">
    {% for item in submodules %}
    {% include module-card.html %}
    {% endfor %}
    </div>
    {% endif %}
  
    {% assign submodules = site.pages | where: "module", page.module | where: "type","tutorial" | sort: "url" %}

    {% if submodules.size > 0 %}
    <h2>Tutorials</h2>
    <div class="row">
    {% for item in submodules %}
    {% include module-card.html %}
    {% endfor %}
    </div>
    {% endif %}
    
    {%comment%}
    {% assign mytitle="Tutorials" %}
    {% assign type="tutorial" %}
    {% include module-type-item.html %}
    {%endcomment%}

    {% assign mytitle="Slides" %}
    {% assign type="lecture" %}
    {% include module-type-item.html %}

    {% assign documents = site.pages | where: "module", page.module | sort: "url" %}

    {%capture temp1%}{% for item in documents %}{%unless item.type=="tutorial" %}{%unless item.type=="assignment" %}{%unless item.type=="lecture" %}{%unless item.type=="submodule" %}{%unless item.url==page.url %}{%if item.title %}<a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>{% else %}<a href="{{ site.baseurl }}{{ item.url }}">{{ item.url }}</a>{% endif %};{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endfor %}{%endcapture%}
    {{temp1}}
    {% assign documents = temp1 | split: ";" %}
    {% if documents.size > 0 %}
    <h2>Other Documents</h2>
    <ul>
    {%for item in documents%}
    <li>{{item}}</li>
    {%endfor%}
    </ul>
    {%endif%}
    
    {{ content }}
    
  </div>

</article>
